<div class="row">
  <div class="col-md-12">
        <center><h2><b>Editing Applicant</b></h2></center>
  </div>
        <!-- <div class="box-tools pull-right">
          <div class="btn-group">
            <button type="button" class="btn btn-box-tool dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-wrench"></i></button>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li class="divider"></li>
              <li><a href="#">Separated link</a></li>
            </ul>
          </div>
          <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
        </div> -->
</div>
<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <center>
        <%= render 'form' %>
        <h4><%= link_to 'Show', @applicant %> |
        <%= link_to 'Back', applicants_path %></h4>
        </center>
    </div>
</div>
