<section class="content-header">
  <center>
      <h1 class="anatome-logo title animated fadeInDown">
        a n a t o <b>M E</b><br>
        <small>Breaking learning barriers through technology</small>
      </h1>
  </center>
  <hr style="border-top:1px solid #71B139; !important">
</section>
<!-- Main content -->
<div class ="row">
<section class="content">
    <div class="col-md-4 col-md-offset-4">
      <!-- Widget: user widget style 1 -->
      <div class="box box-widget widget-user">
        <!-- Add the bg color to the header using any of the bg-* classes -->
        <div class="widget-user-header bg-teal" style="background-color:#4cb3cf!important;">
          <center><h3 class="widget-user-username">Gestures</h3>
          <h5 class="widget-user-desc">Short Application Description</h5></center>
        </div>
        <div class="box-body">
            You don't want no problem want no problem with me (bih).
            You don't want no problem want no problem with me (hahaha).
            You don't want no problem want no problem with me.
            You don't want no problem want no problem with me.
            <br>
            <center>
                <%= link_to "Start", applicants_path, :class => "btn bg-green margin", :style=> "background-color:#71B139!important;" %>
            </center>
        </div>
    </div>
      <!-- /.widget-user -->
    </div>
</div> <!--row-->

</div>
<!--row-->
