<section class="content-header">
  <center>
      <h1 class="anatome-logo animated fadeInDown">
        a n a t o <b>M E</b><br>
        <small>Breaking learning barriers through technology</small>
      </h1>
  </center>
  <hr style="border-top:2px solid #00c6d7; !important">
</section>
<!-- Main content -->
<div class ="row">
<section class="content">
    <div class="col-md-4">
      <!-- Widget: user widget style 1 -->
      <div class="box box-widget widget-user">
        <!-- Add the bg color to the header using any of the bg-* classes -->
        <div class="widget-user-header bg-teal" style="background-color:#00c6d7!important;">
          <center><h3 class="widget-user-username">Gestures</h3>
          <h5 class="widget-user-desc">Short Application Description</h5></center>
        </div>
        <div class="box-body">
            You don't want no problem want no problem with me (bih).
            You don't want no problem want no problem with me (hahaha).
            You don't want no problem want no problem with me.
            You don't want no problem want no problem with me.
            <br>
            <center>
                <%= link_to "Start", applicants_path, :class => "btn bg-green margin", :style=> "background-color:#00c6d7!important;" %>
            </center>
        </div>
    </div>
      <!-- /.widget-user -->
    </div>
    <div class="col-md-4">
      <!-- Widget: user widget style 1 -->
      <div class="box box-widget widget-user">
        <!-- Add the bg color to the header using any of the bg-* classes -->
        <div class="widget-user-header bg-green">
          <center><h3 class="widget-user-username">EnVision</h3>
          <h5 class="widget-user-desc">Short Application Description</h5></center>
        </div>
        <div class="box-body">
            Some concerns: Dapat ata sa simula may magsasalita agad at sasabihin yung instructions,
            for the blind people and<br><br>
            Background feels off
            <br>
            <center>
            </center>
        </div>
      </div>
      <div class="box box-widget widget-user">
        <!-- Add the bg color to the header using any of the bg-* classes -->
        <div class="widget-user-header bg-teal" style="background-color:#00c6d7!important;">
          <center><h3 class="widget-user-username">Gestures</h3>
          <h5 class="widget-user-desc">Short Application Description</h5></center>
        </div>
        <div class="box-body">
            You don't want no problem want no problem with me (bih).
            You don't want no problem want no problem with me (hahaha).
            You don't want no problem want no problem with me.
            You don't want no problem want no problem with me.
            <br>
            <center>

            </center>
        </div>
      </div>
      <!-- /.widget-user -->
    </div>
    <div class="col-md-4">
      <!-- Widget: user widget style 1 -->
      <div class="box box-widget widget-user">
        <!-- Add the bg color to the header using any of the bg-* classes -->
        <div class="widget-user-header bg-purple">
          <center><h3 class="widget-user-username">SoundTeach</h3>
          <h5 class="widget-user-desc">Short Application Description</h5></center>
        </div>
        <div class="box-body">
            You don't want no problem want no problem with me (bih).
            You don't want no problem want no problem with me (hahaha).
            You don't want no problem want no problem with me.
            You don't want no problem want no problem with me.
            <br>
            <center>

            </center>
        </div>
      </div>
      <!-- /.widget-user -->
    </div>
</div> <!--row-->
<div class="row">
    <div class="col-md-6 col-md-offset-2">
            <div class="callout callout-info">
              <center><h4>The microphone is ON!</h4></center>
              <p>
                  Speak near the microphone and tell us if you want to start an app or if you want to exit.
                  For instance, you can say "Start SoundTeach" or "Open Settings".
                      You can turn off the microphone by clicking it or in the <b>Settings</b>.
              </p>
            </div>

    </div>
    <!--div col md offset-->
    <div class="col-md-2">
           <center> PIC OF A MICROPHONE HERE</center>
    </div>
    <!--div col md offset-->

</div>
<!--row-->
