<div class="row">
  <div class="col-md-12">
<center>
    <h2><b>New Recruiter</b></h2>
          <!-- <div class="btn-group">
            <button type="button" class="btn btn-box-tool dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-wrench"></i></button>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li class="divider"></li>
              <li><a href="#">Separated link</a></li>
            </ul>
          </div> -->
    <%= render 'form' %>
    <h4><%= link_to 'Back', recruiters_path %></h4>

</center>
</div>
</div>
