<div class="row">
  <div class="col-xs-12 col-md-3">
    <div class="info-box bg-green">
      <span class="info-box-icon"><i class="ion ion-android-add-circle"></i></span>

      <div class="info-box-content">
        <span class="info-box-text">New Candidates</span>
        <span class="info-box-number">9,250</span>

        <div class="progress">
          <div class="progress-bar" style="width: 20%"></div>
        </div>
            <span class="progress-description">
              20% Increase in 30 Days
            </span>
      </div>
      <!-- /.info-box-content -->
    </div>
    <!-- /.info-box -->
  </div>
  <div class="col-xs-12 col-md-3">
    <!-- Info Boxes Style 2 -->
    <div class="info-box bg-yellow">
      <span class="info-box-icon"><i class="ion ion-aperture"></i></span>

      <div class="info-box-content">
        <span class="info-box-text">Hired Candidates</span>
        <span class="info-box-number">5,200</span>

        <div class="progress">
          <div class="progress-bar" style="width: 50%"></div>
        </div>
            <span class="progress-description">
              50% Increase in 30 Days
            </span>
      </div>
      <!-- /.info-box-content -->
    </div>
    </div>
    <!-- /.info-box -->
    <div class="col-xs-12 col-md-3">
      <div class="info-box bg-red">
        <span class="info-box-icon"><i class="ion ion-ios-cloud-download-outline"></i></span>

        <div class="info-box-content">
          <span class="info-box-text">Waitlisted</span>
          <span class="info-box-number">114,381</span>

          <div class="progress">
            <div class="progress-bar" style="width: 70%"></div>
          </div>
              <span class="progress-description">
                70% Increase in 30 Days
              </span>
        </div>
        <!-- /.info-box-content -->
      </div>
      <!-- /.info-box -->
    </div>
    <div class="col-xs-12 col-md-3">
      <div class="info-box bg-aqua">
        <span class="info-box-icon"><i class="ion-ios-chatbubble-outline"></i></span>

        <div class="info-box-content">
          <span class="info-box-text">Messages</span>
          <span class="info-box-number">163,921</span>

          <div class="progress">
            <div class="progress-bar" style="width: 40%"></div>
          </div>
              <span class="progress-description">
                40% Increase in 30 Days
              </span>
        </div>
        <!-- /.info-box-content -->
      </div>
      <!-- /.info-box -->
    </div>
</div>
<div class="row">
  <div class="col-sm-12 col-md-8">
    <div class="box box-primary">
      <div class="box-header with-border">
        <h3 class="box-title">Past few days</h3>
        <div class="box-tools pull-right">
          <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
          </button>
          <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
        </div>
      </div>
      <div class="box-body">
        <div class="row">
          <div class="col-md-12">
            <%= high_chart("some_id1", @chartday) %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-md-4">
    <div class="box box-primary">
      <div class="box-header with-border">
        <h3 class="box-title">Past few months</h3>
        <div class="box-tools pull-right">
          <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
          </button>
          <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
        </div>
      </div>
      <div class="box-body">
        <div class="row">
          <div class="col-md-12">
            <%= high_chart("some_id2", @chartmonth) %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
